body{
  background: rgb(66, 171, 241);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.cartao{
  width: 250px;
  height: 400px;
  background: blueviolet;
  border-radius: 2%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);
}

.texto{
  margin-top: 250px;
  margin-left: 25px;
  text-align: left;
  color: white;
}

.img1{
  position: absolute;
  top: -100spx;
  left: 150px;
  width: 50px;
  height: 50px;
  height: 30px;
}

.img2 {
  position: absolute;
  bottom: 580px;
  right: 290px;
  width: 55px;
  height: 40px;
}